:root{
    --branco: aliceblue;
    --escuro: #020920;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color:var(--escuro) !important;
    color: var(--branco) !important
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 10px;

}

.card{
    background-color:var(--escuro) !important;
    color: var(--branco) !important;
}

.btn btn-primary btn-adicionar-ao-carrinho{
    padding: 10px;
    border-radius: 999px;
    border: none;
    background-color: transparent;
    color: var(--branco);
    border: 2px solid var(--branco);
    width: 100%;

}